fastapi
uvicorn[standard]
fastapi[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-multipart
python-dotenv
httpx
PyPDF2
python-docx
python-jose[cryptography]
passlib[bcrypt]
tenacity
